@font-face {
  font-family: "SFDisplay-Thin";
  src: url("fonts/SF_Pro_Display/SFProDisplay-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "SFDisplay-UltraLight";
  src: url("fonts/SF_Pro_Display/SFProDisplay-Ultralight.ttf") format("truetype"); }

@font-face {
  font-family: "SFDisplay-Light";
  src: url("fonts/SF_Pro_Display/SFProDisplay-Light.ttf") format("truetype"); }

@font-face {
  font-family: "SFDisplay-Regular";
  src: url("fonts/SF_Pro_Display/SFProDisplay-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "SFDisplay-Medium";
  src: url("fonts/SF_Pro_Display/SFProDisplay-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "SFDisplay-Semibold";
  src: url("fonts/SF_Pro_Display/SFProDisplay-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: "SFDisplay-Bold";
  src: url("fonts/SF_Pro_Display/SFProDisplay-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "SFDisplay-Heavy";
  src: url("fonts/SF_Pro_Display/SFProDisplay-Heavy.ttf") format("truetype"); }

@font-face {
  font-family: "SFDisplay-Black";
  src: url("fonts/SF_Pro_Display/SFProDisplay-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Thin";
  src: url("fonts/Roboto/Roboto-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Light";
  src: url("fonts/Roboto/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Medium";
  src: url("fonts/Roboto/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Bold";
  src: url("fonts/Roboto/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Black";
  src: url("fonts/Roboto/Roboto-Black.ttf") format("truetype"); }

@keyframes shapes-1 {
  from {
    margin-left: 0; }
  to {
    margin-left: -1600px; } }

@keyframes shapes-2 {
  from {
    margin-left: 1600px; }
  to {
    margin-left: 0; } }

body, h1, h2, p, ul, li, label {
  margin: 0;
  padding: 0; }

body:after {
  content: url("../img/main/background.svg") url("../img/main/illustrate.svg") url("../img/main/one-circle.svg") url("../img/main/double-circle.svg") url("../img/main/triple-circle.svg") url("../img/main/triangle.svg") url("../img/amenities/analytics.svg") url("../img/amenities/develop.svg") url("../img/amenities/design.svg") url("../img/amenities/support.svg") url("../img/amenities/integration.svg") url("../img/cases/zagadaem-ru.webp") url("../img/cases/terin.webp");
  display: none; }

h1 {
  font-family: "SFDisplay-Bold";
  font-size: 40px;
  color: #ffffff;
  line-height: 50px; }

h2 {
  font-family: "SFDisplay-Medium";
  font-size: 42px;
  color: #222328;
  line-height: 45px; }

.button {
  font-family: "SFDisplay-Medium";
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 15px 30px;
  display: block;
  border-radius: 29px;
  border: 2px solid #ffffff;
  transition: 0.25s; }
  .button:focus {
    outline: none; }
  .button:hover {
    text-decoration: none; }
  .button-blue {
    color: #ffffff;
    background-color: #2290ff;
    border-color: #2290ff; }
    .button-blue:hover {
      color: #ffffff;
      box-shadow: 0 4px 16px 0 rgba(255, 255, 255, 0.25); }
    .button-blue:active {
      background-color: #226ad7;
      border-color: #226ad7; }
  .button-white {
    color: #2290ff;
    background-color: #ffffff;
    border-color: #2290ff; }
    .button-white:hover {
      color: #2290ff;
      box-shadow: 0 4px 16px 0 rgba(34, 144, 255, 0.5); }
    .button-white:active {
      border-color: #226ad7; }

.wrap {
  display: flex;
  height: 100vh; }

.stub-wrap {
  width: 600px;
  margin: 100px auto auto; }
  .stub-wrap__title {
    font-family: "SFDisplay-Light";
    font-size: 32px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 50px; }
  .stub-wrap__description {
    font-family: "SFDisplay-Light";
    font-size: 18px;
    line-height: 27px;
    color: #4F5362; }

.main-menu {
  width: 240px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000; }
  .main-menu-logo {
    display: flex;
    margin: 50px auto 0 auto; }
  .main-menu .navbar {
    display: flex;
    margin: auto;
    width: 100%;
    padding: 0; }
    .main-menu .navbar .navigate-item {
      width: 100%; }
      .main-menu .navbar .navigate-item .nav-link {
        font-family: "Roboto-Regular";
        font-size: 15px;
        color: #919191;
        border-left: 6px solid #ffffff;
        display: block;
        padding-left: 60px;
        margin: 8px 0;
        transition: 0.25s; }
        .main-menu .navbar .navigate-item .nav-link:hover {
          color: #2290FF; }
        .main-menu .navbar .navigate-item .nav-link.active {
          font-family: "Roboto-Bold";
          font-size: 15px;
          border-left-color: #2290FF;
          color: #2290FF; }

.sections {
  width: 100%;
  height: 100%;
  overflow-y: auto; }
  .sections > div {
    width: calc(100% - 240px);
    margin-left: 240px; }

.main-section {
  position: relative;
  overflow: hidden; }
  .main-section-content {
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 2; }
    .main-section-content > div > div {
      display: flex;
      flex-direction: column; }
    .main-section-content .main-description {
      width: 600px;
      margin: auto; }
      .main-section-content .main-description .pre-title {
        font-family: "SFDisplay-Light";
        font-size: 16px;
        color: #ffffff;
        line-height: 24px; }
      .main-section-content .main-description .title {
        margin: 10px 0 15px; }
      .main-section-content .main-description .description {
        font-family: "SFDisplay-Light";
        font-size: 15px;
        color: #ffffff;
        line-height: 24px; }
      .main-section-content .main-description .button {
        width: 200px;
        margin-top: 40px; }
    .main-section-content .main-image {
      margin: auto; }
      .main-section-content .main-image > div {
        width: 100%; }
        .main-section-content .main-image > div > img {
          width: 100%; }
  .main-section-background {
    width: 100%;
    overflow: hidden;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
    .main-section-background .background {
      width: 100%;
      z-index: 0; }
    .main-section-background .shapes {
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 911px; }
      .main-section-background .shapes .shape {
        position: absolute; }
        .main-section-background .shapes .shape-1 {
          margin-top: -10px;
          margin-left: 476px; }
        .main-section-background .shapes .shape-2 {
          margin-top: 255px;
          margin-left: 1121px; }
        .main-section-background .shapes .shape-3 {
          margin-top: 419px;
          margin-left: 373px; }
        .main-section-background .shapes .shape-4 {
          margin-top: 426px;
          margin-left: 1477px; }
        .main-section-background .shapes .shape-5 {
          margin-top: 204px;
          margin-left: 38px; }
        .main-section-background .shapes .shape-6 {
          margin-top: 203px;
          margin-left: 636px; }
        .main-section-background .shapes .shape-7 {
          margin-top: 779px;
          margin-left: 702px; }
        .main-section-background .shapes .shape-8 {
          margin-top: 120px;
          margin-left: 174px; }
        .main-section-background .shapes .shape-9 {
          margin-top: 701px;
          margin-left: 1302px; }
        .main-section-background .shapes .shape-10 {
          margin-top: 165px;
          margin-left: 1308px; }
        .main-section-background .shapes .shape-11 {
          margin-top: 50px;
          margin-left: 883px; }
        .main-section-background .shapes .shape-12 {
          margin-top: 640px;
          margin-left: 100px; }
        .main-section-background .shapes .shape-13 {
          margin-top: 589px;
          margin-left: 942px; }
        .main-section-background .shapes .shape-14 {
          margin-top: 86px;
          margin-left: 1506px; }
      .main-section-background .shapes-1 {
        margin-left: 0;
        animation: shapes-1 100s infinite; }
      .main-section-background .shapes-2 {
        margin-left: 1600px;
        animation: shapes-2 100s infinite; }

.amenities-section {
  width: 100% !important;
  margin: 80px auto 80px 0 !important; }
  .amenities-section-tabs {
    border: none;
    justify-content: center; }
  .amenities-section-containers {
    width: 100%;
    margin-top: 80px; }
    .amenities-section-containers > div {
      margin: 0;
      width: 100%;
      max-width: 100%; }
  .amenities-section .nav-link {
    font-family: "SFDisplay-Medium";
    font-size: 18px;
    color: #4F5362;
    background-color: #ffffff;
    line-height: 18px;
    border-radius: 29px;
    text-align: center;
    padding: 20px 35px;
    min-width: 160px;
    display: block;
    border: none;
    transition: 0.25s;
    margin: 0 10px; }
    .amenities-section .nav-link:hover {
      color: #2290ff; }
    .amenities-section .nav-link.active {
      color: #ffffff;
      background-color: #2290ff; }
  .amenities-section .amenities-info {
    width: 100%;
    display: grid;
    grid-template-columns: auto 700px; }
    .amenities-section .amenities-info-image {
      height: 600px;
      max-width: 100%;
      display: flex; }
      .amenities-section .amenities-info-image img {
        margin: 0 150px 0 auto;
        display: flex;
        max-height: 600px;
        max-width: 100%; }
    .amenities-section .amenities-info-content {
      max-width: 90%; }
      .amenities-section .amenities-info-content .title {
        font-family: "SFDisplay-Light";
        font-size: 36px;
        color: #000000;
        line-height: 42px;
        margin-bottom: 30px; }
      .amenities-section .amenities-info-content .description {
        font-family: "SFDisplay-Light";
        font-size: 18px;
        color: #4F5362;
        line-height: 27px;
        margin-bottom: 30px; }
      .amenities-section .amenities-info-content .list {
        list-style-type: circle;
        margin-left: 30px; }
        .amenities-section .amenities-info-content .list li {
          font-family: "SFDisplay-Light";
          font-size: 21px;
          color: #222328;
          line-height: 21px;
          margin: 0 0 20px; }

.cases-section > div {
  margin: 150px auto 80px;
  width: 1200px; }

.cases-section__title {
  font-family: "SFDisplay-Light";
  font-size: 34px;
  color: #222328;
  line-height: 36px;
  margin-bottom: 40px; }

.cases-section-items {
  display: flex;
  margin: auto;
  flex-wrap: wrap; }
  .cases-section-items .case-item {
    width: 250px;
    margin: 0 auto 30px;
    position: relative; }
    .cases-section-items .case-item:first-child {
      margin-left: 0; }
    .cases-section-items .case-item:nth-child(4) {
      margin-right: 0; }
    .cases-section-items .case-item:nth-child(5) {
      margin-left: 0; }
    .cases-section-items .case-item:last-child {
      margin-right: 0; }
    .cases-section-items .case-item__image {
      width: 100%;
      height: 180px;
      border-radius: 5px; }
    .cases-section-items .case-item__title {
      font-family: "SFDisplay-Light";
      font-size: 16px;
      color: #222328;
      line-height: 24px;
      text-align: center;
      display: block;
      width: 100%;
      margin-top: 5px; }
    .cases-section-items .case-item-substrate {
      position: absolute;
      top: 0;
      left: 0;
      width: 250px;
      height: 180px;
      border-radius: 5px;
      opacity: 0;
      transition: 0.25s; }
      .cases-section-items .case-item-substrate .button {
        text-decoration: none;
        z-index: 2;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 58px;
        width: 165px;
        padding: 15px; }
        .cases-section-items .case-item-substrate .button:hover {
          box-shadow: 0 4px 16px 0 rgba(23, 23, 55, 0.5); }
      .cases-section-items .case-item-substrate .background {
        background: #6a6fd6;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        opacity: 0.75;
        border-radius: 5px; }
      .cases-section-items .case-item-substrate:hover {
        opacity: 1; }

.cases-section__button {
  width: 170px; }

.about-section {
  margin: 100px auto; }
  .about-section .about-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1200px;
    margin: auto;
    padding-top: 80px;
    background-image: url("../img/about/map.svg");
    background-repeat: no-repeat; }
    .about-section .about-info > div {
      max-width: 550px; }
    .about-section .about-info .about-container .description {
      font-family: "SFDisplay-Light";
      font-size: 18px;
      color: #4F5362;
      line-height: 31px;
      margin: 30px 0 38px; }
    .about-section .about-info .about-container .button {
      width: 290px; }
    .about-section .about-info .about-form {
      max-width: 500px; }
      .about-section .about-info .about-form .line {
        display: flex;
        margin-bottom: 15px; }
      .about-section .about-info .about-form .field {
        width: calc(100% / 2 - 10px); }
        .about-section .about-info .about-form .field label {
          font-family: "Roboto";
          font-size: 12px;
          color: #A8ACB9;
          line-height: 12px;
          width: 100%;
          margin-left: 15px; }
        .about-section .about-info .about-form .field input {
          font-family: "SFDisplay-Light";
          font-size: 16px;
          color: #2290FF;
          line-height: 21px;
          background-color: #F9FBFF;
          border-radius: 29px;
          height: 58px;
          width: 100%;
          border: none;
          padding: 10px 25px; }
          .about-section .about-info .about-form .field input:focus {
            outline: none; }
        .about-section .about-info .about-form .field:first-child {
          margin: 0 auto 0 0; }
        .about-section .about-info .about-form .field:last-child {
          margin: 0 0 0 auto; }
      .about-section .about-info .about-form textarea {
        font-family: "SFDisplay-Light";
        font-size: 16px;
        color: #2290FF;
        line-height: 21px;
        background-color: #F9FBFF;
        border-radius: 10px;
        resize: none;
        width: 100%;
        height: 72px;
        border: none;
        padding: 10px 25px;
        margin-bottom: 30px; }
        .about-section .about-info .about-form textarea:focus {
          outline: none; }
      .about-section .about-info .about-form .button {
        min-width: 230px; }
  .about-section .about-contacts {
    width: 1200px;
    display: flex;
    justify-content: center;
    margin: 150px auto 0 auto; }
    .about-section .about-contacts__item {
      font-family: "SFDisplay-Light";
      font-size: 18px;
      color: #4F5362;
      line-height: 21px;
      margin: 0 30px; }
      .about-section .about-contacts__item[data-type=phone]:before {
        height: 21px;
        width: 21px;
        content: "";
        display: block;
        float: left;
        background-image: url("../img/about/phone.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 21px 21px;
        margin-right: 10px; }
      .about-section .about-contacts__item[data-type=whatsapp]:before {
        height: 21px;
        width: 21px;
        content: "";
        display: block;
        float: left;
        background-image: url("../img/about/whatsapp.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 21px 21px;
        margin-right: 10px; }
      .about-section .about-contacts__item[data-type=mail]:before {
        height: 21px;
        width: 21px;
        content: "";
        display: block;
        float: left;
        background-image: url("../img/about/mail.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 21px 21px;
        margin-right: 10px; }
      .about-section .about-contacts__item[data-type=dribbble]:before {
        height: 21px;
        width: 21px;
        content: "";
        display: block;
        float: left;
        background-image: url("../img/about/dribbble.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 21px 21px;
        margin-right: 10px; }

.footer-section > div {
  width: 780px;
  height: 220px;
  margin: 200px auto 100px; }

.footer-section__logo {
  width: 150px;
  height: 40px;
  margin: 0 auto; }

.footer-section__description {
  font-family: "SFDisplay-Light";
  font-size: 16px;
  color: #818992;
  line-height: 24px;
  text-align: center;
  margin: 30px 0; }

.footer-section-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: auto; }
  .footer-section-list a {
    font-family: "SFDisplay-Regular";
    font-size: 14px;
    color: #2D3136;
    line-height: 24px;
    display: block;
    margin: 0 20px; }
    .footer-section-list a:hover {
      text-decoration: none; }

.footer-section__copyright {
  font-family: "SFDisplay-Light";
  font-size: 18px;
  color: #2D3136;
  line-height: 24px;
  margin: 30px auto 0;
  width: 300px; }
  .footer-section__copyright img {
    height: 20px;
    width: 20px; }

@media (max-width: 1600px) {
  .main-section-content {
    grid-template-columns: 3fr 2fr; } }

@media (max-width: 1400px) {
  .about-section .about-info {
    grid-template-columns: repeat(1, 1fr);
    width: 600px; }
    .about-section .about-info > div {
      margin: 50px auto; }
  .about-section .about-contacts {
    width: 100%;
    flex-wrap: wrap; }
    .about-section .about-contacts > div {
      margin: 0 20px; } }
