body {
  margin: 0;
  padding: 0; }

h1 {
  font-family: "Montserrat";
  font-size: 78px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase; }

h2 {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  color: #506a85;
  text-align: center;
  letter-spacing: 0.9px; }

h3 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #73879c;
  line-height: 34px;
  margin-top: 20px;
  letter-spacing: -0.2px; }

h4 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 23px; }

.wrap-container_root {
  max-width: 1200px;
  width: 100%;
  margin: auto; }

.wrap-container_header {
  box-shadow: 0.5px 0.866px 0 #e6e9ed;
  background-color: #f5f7f9; }

.wrap-container_nav-bar {
  box-shadow: 0.5px 0.866px 0 #e6e9ed;
  background-color: #ffffff; }

.wrap-container_advantages-info {
  box-shadow: 0.5px 0.866px 0 #e6e9ed;
  background-color: #ffffff; }

.wrap-container_example-work-info {
  background-color: #f2f5f7; }

.wrap-container_cooperation-info {
  background-color: #ffffff; }

.wrap-container_site-map {
  background-color: #2f4052; }

.wrap-container_footer {
  background-color: #283645; }

.custom-button {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  border-radius: 3px;
  background-color: #00bb9b;
  border-bottom: 2px solid #00a085;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 18px;
  cursor: pointer; }
  .custom-button:hover, .custom-button:active {
    border-bottom: 2px solid #148e76;
    background-color: #17a78b;
    transition: 0.25s linear; }

.contact-us-modal {
  background-color: #ffffff75; }
  .contact-us-modal_wrapper {
    max-width: 970px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 30px 40px 50px 40px;
    box-shadow: 0 7px 40px rgba(0, 0, 0, 0.5); }
    .contact-us-modal_wrapper > div {
      border: none; }
      .contact-us-modal_wrapper > div > div {
        border: none; }
  .contact-us-modal__button {
    margin-top: 40px;
    width: 295px; }
  .contact-us-modal .modal-header-block {
    border: none;
    padding-top: 0;
    padding-bottom: 26px;
    position: relative; }
    .contact-us-modal .modal-header-block__close {
      height: 25px;
      width: 25px;
      background-image: url("../img/button_close.png");
      background-position: center;
      background-size: 25px;
      background-repeat: no-repeat;
      position: absolute;
      top: 15px;
      right: 10px; }
  .contact-us-modal .modal-input-block textarea, .contact-us-modal .modal-input-block input {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #dddddd !important;
    box-shadow: none;
    background-color: #f8fafd;
    color: #757575;
    padding: 12px 18px;
    line-height: 22px;
    display: block; }
  .contact-us-modal .modal-input-block__name, .contact-us-modal .modal-input-block__email {
    width: calc((100% - 30px) / 2);
    height: 48px;
    margin-bottom: 24px; }
  .contact-us-modal .modal-input-block__message {
    height: 135px;
    vertical-align: top; }

.contact-info__item {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  color: #506a85;
  height: 20px;
  margin: 11px 10px 9px 11px;
  cursor: default; }

.contact-info .contact-info__item_email:before {
  height: 20px;
  width: 20px;
  content: "";
  display: block;
  float: left;
  position: relative;
  margin: -2px 4px 0 0;
  background-image: url("../img/background/tool_link/icon_email_dark.png");
  background-position: center;
  background-repeat: no-repeat; }

.contact-info .contact-info__item_phone:before {
  height: 20px;
  width: 20px;
  content: "";
  display: block;
  float: left;
  position: relative;
  margin: -2px 4px 0 0;
  background-image: url("../img/background/tool_link/icon_phone_dark.png");
  background-position: center;
  background-repeat: no-repeat; }

.networks {
  margin: 10px 18px; }
  .networks__item {
    height: 20px;
    width: 20px;
    margin-right: 4px;
    cursor: pointer; }
  .networks .networks__item_facebook {
    background-image: url("../img/background/social_network/icon_facebook.png");
    background-position: center;
    background-repeat: no-repeat; }
  .networks .networks__item_google {
    background-image: url("../img/background/social_network/icon_google.png");
    background-position: center;
    background-repeat: no-repeat; }
  .networks .networks__item_twitter {
    background-image: url("../img/background/social_network/icon_twitter.png");
    background-position: center;
    background-repeat: no-repeat; }
  .networks .networks__item_pinterest {
    background-image: url("../img/background/social_network/icon_pinterest.png");
    background-position: center;
    background-repeat: no-repeat; }
  .networks .networks__item_behance {
    background-image: url("../img/background/social_network/icon_behance.png");
    background-position: center;
    background-repeat: no-repeat; }
  .networks .networks__item_dribble {
    background-image: url("../img/background/social_network/icon_dribble.png");
    background-position: center;
    background-repeat: no-repeat; }

.sticky-container__background {
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  z-index: 20 !important; }

.nav-bar {
  padding: 25px 0;
  background-color: #ffffff; }
  .nav-bar__logotype {
    background-image: url("../img/logo/name-logo-dark.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 180px;
    margin: 0 16px;
    display: block;
    background-size: 100%; }
  .nav-bar .menu {
    margin: 10px 0 0 73px; }
    .nav-bar .menu__item {
      font-family: "Roboto";
      font-size: 15px;
      font-weight: 700;
      color: #506a85;
      text-transform: uppercase;
      margin-right: 45px;
      cursor: pointer; }

.slider-container {
  height: 800px; }
  .slider-container_about-us {
    background: url("../img/background/slider/about-us-slide.png") no-repeat; }
  .slider-container_fresh {
    background: url("../img/background/slider/fresh-slide.png") no-repeat; }
  .slider-container_clean-code {
    background: url("../img/background/slider/clean-code-slide.png") no-repeat; }
  .slider-container_creative {
    background: url("../img/background/slider/creative-slide.png") no-repeat; }
  .slider-container_content-block {
    background: url("../img/background/slider/content-block-slide.png") no-repeat; }
  .slider-container_root {
    height: 880px; }
  .slider-container .about-us {
    cursor: default;
    height: 350px;
    width: 1000px;
    padding: 240px 0 210px;
    margin: auto; }
    .slider-container .about-us__title {
      font-family: "Montserrat";
      font-size: 73px;
      font-weight: 900;
      letter-spacing: 4.7px;
      margin: 0; }
    .slider-container .about-us__description {
      color: #a3b1bf; }
    .slider-container .about-us__button {
      margin-top: 58px;
      width: 295px;
      height: 65px; }
  .slider-container .fresh {
    height: 350px;
    width: 1180px;
    cursor: default;
    padding: 240px 0 210px;
    margin: auto; }
    .slider-container .fresh__title {
      font-family: "Montserrat";
      font-size: 73px;
      font-weight: 900;
      letter-spacing: 4.7px;
      max-width: 800px;
      text-align: right;
      line-height: 90px; }
    .slider-container .fresh__description {
      max-width: 800px;
      text-align: right;
      color: #ffffff;
      margin: 0; }
    .slider-container .fresh__button {
      margin-top: 58px;
      width: 295px;
      height: 65px;
      margin-left: 200px; }
  .slider-container .clean-code {
    height: 350px;
    width: 1155px;
    cursor: default;
    padding: 200px 0 210px;
    margin: auto; }
    .slider-container .clean-code__title {
      font-family: "Montserrat";
      font-size: 73px;
      font-weight: 900;
      letter-spacing: 4.7px;
      text-align: left;
      line-height: 85px;
      padding: 20px 30px;
      margin-right: 200px;
      background-color: #506a85; }
    .slider-container .clean-code__description {
      max-width: 700px;
      text-align: left;
      color: #506a85;
      margin: 20px 0 0; }
    .slider-container .clean-code__button {
      margin-top: 58px;
      width: 295px;
      height: 65px;
      margin-right: 200px; }
  .slider-container .creative {
    height: 350px;
    width: 1180px;
    cursor: default;
    padding: 85px 0 210px;
    margin: auto; }
    .slider-container .creative__title {
      font-family: "Montserrat";
      font-size: 73px;
      font-weight: 900;
      letter-spacing: 4.7px;
      text-align: right;
      line-height: 85px;
      padding: 20px 30px;
      background-color: #506a85; }
    .slider-container .creative__description {
      max-width: 800px;
      text-align: right;
      color: #ffffff;
      margin: 20px 0 0; }
    .slider-container .creative__button {
      margin-top: 58px;
      width: 295px;
      height: 65px;
      margin-left: 200px; }
  .slider-container .content-block {
    cursor: default;
    height: 350px;
    width: 1000px;
    padding: 78px 0 210px;
    margin: auto; }
    .slider-container .content-block__title {
      font-family: "Montserrat";
      font-size: 73px;
      font-weight: 900;
      letter-spacing: 4.7px;
      margin: 0; }
    .slider-container .content-block__description {
      color: #a3b1bf;
      max-width: 750px; }
    .slider-container .content-block__button {
      margin-top: 58px;
      width: 295px;
      height: 65px; }

.advantages-info {
  padding: 117px 0 130px; }
  .advantages-info__description {
    margin: 20px 190px 0;
    letter-spacing: -0.2px; }
  .advantages-info_items {
    margin: 65px 15px 0; }
    .advantages-info_items .item__logo_heart {
      background-image: url("../img/background/info_column/icon_heart.png");
      background-position: center;
      background-repeat: no-repeat; }
    .advantages-info_items .item__logo_lamp {
      background-image: url("../img/background/info_column/icon_lamp.png");
      background-position: center;
      background-repeat: no-repeat; }
    .advantages-info_items .item__logo_star {
      background-image: url("../img/background/info_column/icon_star.png");
      background-position: center;
      background-repeat: no-repeat; }
    .advantages-info_items .item__logo_technology {
      background-image: url("../img/background/info_column/icon_technology.png");
      background-position: center;
      background-repeat: no-repeat; }
    .advantages-info_items .item__logo_social {
      background-image: url("../img/background/info_column/icon_social.png");
      background-position: center;
      background-repeat: no-repeat; }
    .advantages-info_items .item__logo_marketing {
      background-image: url("../img/background/info_column/icon_marketing.png");
      background-position: center;
      background-repeat: no-repeat; }
    .advantages-info_items .item__logo {
      height: 70px;
      width: 70px; }
    .advantages-info_items .item-characteristic {
      width: calc(100% - 110px);
      margin: 0 10px 0 30px; }
      .advantages-info_items .item-characteristic__title {
        font-family: "Montserrat";
        font-size: 26px;
        font-weight: 700;
        color: #506a85; }
      .advantages-info_items .item-characteristic__description {
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 400;
        color: #73879c;
        margin: 20px 0 0; }
  .advantages-info_item {
    margin-bottom: 40px; }
  .advantages-info__button {
    width: 295px; }

.example-work-info {
  padding: 120px 0 140px; }
  .example-work-info .items_big {
    margin: 75px 0 0; }
    .example-work-info .items_big__item {
      border-radius: 5px; }
    .example-work-info .items_big .item {
      background-color: #ffffff;
      padding: 25px 0;
      border-bottom: 2px solid #e6e9ed;
      margin: 0 15px; }
      .example-work-info .items_big .item__logo {
        width: calc(100% - 30px);
        margin-left: 15px; }
      .example-work-info .items_big .item__title {
        font-family: "Montserrat";
        font-size: 20px;
        font-weight: 700;
        color: #506a85;
        text-align: center;
        letter-spacing: 0.3px; }
      .example-work-info .items_big .item__author {
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 400;
        color: #73879c;
        margin: 6px 0 0;
        text-align: center; }
  .example-work-info .items_small {
    margin-top: 80px; }
    .example-work-info .items_small .items_image .item_business-card {
      background-image: url("../img/works/business-card.png");
      background-repeat: no-repeat; }
    .example-work-info .items_small .items_image .item_plate {
      background-image: url("../img/works/plate.png");
      background-repeat: no-repeat; }
    .example-work-info .items_small .items_image .item_sticker {
      background-image: url("../img/works/sticker.png");
      background-repeat: no-repeat; }
    .example-work-info .items_small .items_image .item_signwall {
      background-image: url("../img/works/signwall.png");
      background-repeat: no-repeat; }
    .example-work-info .items_small .items_image > div {
      background-size: 90%;
      background-position: center; }
      .example-work-info .items_small .items_image > div > div {
        height: 185px;
        background-size: calc(100% - 30px);
        background-position-x: center; }

.cooperation-info {
  padding: 115px 130px 130px; }
  .cooperation-info__button {
    width: 150px;
    margin-top: 38px;
    padding: 10px; }

.site-map {
  padding: 70px 15px 75px; }
  .site-map_block {
    padding: 0 10px; }
  .site-map__description {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    color: #a3b1bf;
    line-height: 22px; }
  .site-map .who-we-are_info__logo {
    background: url("../img/logo/name-logo-light.svg") no-repeat;
    height: 50px;
    width: 180px;
    background-size: 100%; }
  .site-map .who-we-are_info__description {
    margin-top: 10px; }
  .site-map .works-info .item_business-card {
    background-image: url("../img/works/business-card.png");
    background-repeat: no-repeat; }
  .site-map .works-info .item_plate {
    background-image: url("../img/works/plate.png");
    background-repeat: no-repeat; }
  .site-map .works-info .item_sticker {
    background-image: url("../img/works/sticker.png");
    background-repeat: no-repeat; }
  .site-map .works-info .item_signwall {
    background-image: url("../img/works/signwall.png");
    background-repeat: no-repeat; }
  .site-map .works-info > div {
    height: 85px;
    margin-top: 5px;
    background-size: 95% 85px;
    background-position: center left; }
  .site-map .get-in-touch-info__description {
    margin: -6px 0 0; }
  .site-map .get-in-touch-info .touch_contacts {
    margin-top: 10px; }
    .site-map .get-in-touch-info .touch_contacts .touch_contacts__map:before {
      height: 20px;
      width: 20px;
      content: "";
      display: block;
      float: left;
      position: relative;
      margin: 1px 4px 0 0;
      background-image: url("../img/background/tool_link/icon_map_light.png");
      background-position: center;
      background-repeat: no-repeat; }
    .site-map .get-in-touch-info .touch_contacts .touch_contacts__phone:before {
      height: 20px;
      width: 20px;
      content: "";
      display: block;
      float: left;
      position: relative;
      margin: 1px 4px 0 0;
      background-image: url("../img/background/tool_link/icon_phone_light.png");
      background-position: center;
      background-repeat: no-repeat; }
    .site-map .get-in-touch-info .touch_contacts .touch_contacts__email:before {
      height: 20px;
      width: 20px;
      content: "";
      display: block;
      float: left;
      position: relative;
      margin: 1px 4px 0 0;
      background-image: url("../img/background/tool_link/icon_email_light.png");
      background-position: center;
      background-repeat: no-repeat; }
  .site-map .updates__description {
    margin: -6px 0; }
  .site-map .updates .email_form {
    margin-top: 20px;
    height: 42px;
    position: relative; }
    .site-map .updates .email_form__input {
      background-color: #4e5c6c;
      color: #a3b1bf;
      border: none;
      padding-right: 100px; }
  .site-map .updates .subscribe-update_button {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 88px;
    height: 30px;
    padding: 4px; }

.footer {
  padding: 30px 15px; }
  .footer__copyright {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    color: #707e8c;
    float: left; }
  .footer__map {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    float: right; }
    .footer__map_item {
      color: #707e8c !important;
      margin-left: 10px;
      cursor: pointer;
      display: block;
      text-decoration: none !important; }
      .footer__map_item:hover {
        color: #00bc9c !important;
        transition: 0.25s linear; }
    .footer__map .inactive {
      cursor: default !important;
      color: #707e8c !important; }

.toggler-example {
  padding: 10px 15px; }
  .toggler-example__hamburger {
    background-image: url("../img/background/hamburger_menu.png");
    background-repeat: no-repeat;
    height: 20px;
    width: 24px; }

@media (max-width: 1500px) {
  .slider-container {
    background-size: 100% !important;
    height: 550px; }
    .slider-container .about-us {
      padding: 190px 0 0;
      width: calc(100% - 300px); }
      .slider-container .about-us__title {
        font-family: "Montserrat";
        font-size: 50px;
        font-weight: 900;
        line-height: 70px; }
      .slider-container .about-us__description {
        font-size: 20px; }
      .slider-container .about-us__button {
        margin-top: 35px; }
    .slider-container .fresh {
      padding: 100px 0 0;
      width: calc(100% - 300px); }
      .slider-container .fresh__title {
        font-family: "Montserrat";
        font-size: 50px;
        font-weight: 900;
        line-height: 70px; }
      .slider-container .fresh__description {
        font-size: 20px; }
      .slider-container .fresh__button {
        margin-top: 35px; }
    .slider-container .clean-code {
      padding: 80px 0 0;
      width: calc(100% - 300px); }
      .slider-container .clean-code__title {
        font-family: "Montserrat";
        font-size: 50px;
        font-weight: 900;
        line-height: 60px;
        margin-right: 150px; }
      .slider-container .clean-code__description {
        font-size: 20px; }
      .slider-container .clean-code__button {
        margin-top: 35px; }
    .slider-container .creative {
      padding: 70px 0 0;
      width: calc(100% - 300px); }
      .slider-container .creative__title {
        font-family: "Montserrat";
        font-size: 50px;
        font-weight: 900;
        line-height: 70px; }
      .slider-container .creative__description {
        font-size: 20px; }
      .slider-container .creative__button {
        margin-top: 35px; }
    .slider-container .content-block {
      padding: 140px 0 0;
      width: calc(100% - 300px); }
      .slider-container .content-block__title {
        font-family: "Montserrat";
        font-size: 50px;
        font-weight: 900;
        line-height: 70px; }
      .slider-container .content-block__description {
        font-size: 20px; }
      .slider-container .content-block__button {
        margin-top: 35px; } }

@media (max-width: 1200px) {
  .slider-container {
    background-size: 120% !important;
    height: 530px; }
    .slider-container .about-us {
      padding: 120px 0 0;
      width: calc(100% - 250px); }
    .slider-container .clean-code {
      padding: 50px 0 0;
      width: calc(100% - 250px); }
    .slider-container .content-block {
      padding: 120px 0 0; }
  .advantages-info {
    padding: 50px 20px; }
  .example-work-info {
    padding: 50px 20px; }
    .example-work-info .items_big {
      margin: 30px 0 0; }
      .example-work-info .items_big .item__logo:first-child {
        margin-left: 15px; }
      .example-work-info .items_big .item__title {
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 700; }
    .example-work-info .items_small {
      margin-top: 30px; }
      .example-work-info .items_small .items_navigation {
        margin-top: 10px; }
  .cooperation-info {
    padding: 50px 20px; }
  .site-map {
    padding: 30px 20px; } }

@media (max-width: 1024px) {
  .slider-container {
    background-size: 120% !important;
    height: 500px; }
    .slider-container .about-us {
      padding: 120px 0 0; }
    .slider-container .fresh {
      padding: 70px 0 0; }
    .slider-container .creative {
      padding: 45px 0 0; }
      .slider-container .creative__title {
        font-family: "Montserrat";
        font-size: 40px;
        font-weight: 900;
        line-height: 50px; }
  .advantages-info_item {
    padding: 0 50px 40px; }
  .advantages-info__description {
    margin: 20px; }
  .example-work-info .item .items_navigation {
    margin-top: 0; }
  .site-map_block {
    padding: 20px; }
  .site-map .works-info {
    max-width: 260px; }
    .site-map .works-info > div {
      background-size: 124px 85px;
      width: 130px; } }

@media (max-width: 992px) {
  .slider-container .clean-code__title {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 900;
    line-height: 50px; }
  .nav-bar {
    padding: 10px;
    width: 100%;
    border: none; }
    .nav-bar .menu {
      margin: 40px 0 0; }
    .nav-bar__logotype, .nav-bar__search-field {
      display: none; }
    .nav-bar_desktop {
      display: none; } }

@media (max-width: 900px) {
  .slider-container {
    display: none; }
  .example-work-info .items_big__item {
    margin-bottom: 10px; }
    .example-work-info .items_big__item .item__title {
      font-family: "Montserrat";
      font-size: 14px !important;
      font-weight: 700; } }

@media (max-width: 768px) {
  .example-work-info .items_image .item_card {
    height: 170px;
    background-size: 90%; }
  .site-map_block {
    padding: 20px; }
  .site-map .works-info {
    max-width: 210px; }
    .site-map .works-info > div {
      background-size: 100px 75px;
      height: 75px;
      width: 105px; }
  .footer__copyright {
    float: left;
    width: 100%; }
  .footer__map {
    margin: 10px 0 0 -10px;
    float: left;
    width: 100%; } }

@media (max-width: 640px) {
  .example-work-info .item__logo {
    height: 300px !important; } }
