// SFDisplay
@font-face {
    font-family: "SFDisplay-Thin";
    src: url("fonts/SF_Pro_Display/SFProDisplay-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "SFDisplay-UltraLight";
    src: url("fonts/SF_Pro_Display/SFProDisplay-Ultralight.ttf") format("truetype");
}

@font-face {
    font-family: "SFDisplay-Light";
    src: url("fonts/SF_Pro_Display/SFProDisplay-Light.ttf") format("truetype");
}

@font-face {
    font-family: "SFDisplay-Regular";
    src: url("fonts/SF_Pro_Display/SFProDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SFDisplay-Medium";
    src: url("fonts/SF_Pro_Display/SFProDisplay-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "SFDisplay-Semibold";
    src: url("fonts/SF_Pro_Display/SFProDisplay-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "SFDisplay-Bold";
    src: url("fonts/SF_Pro_Display/SFProDisplay-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "SFDisplay-Heavy";
    src: url("fonts/SF_Pro_Display/SFProDisplay-Heavy.ttf") format("truetype");
}

@font-face {
    font-family: "SFDisplay-Black";
    src: url("fonts/SF_Pro_Display/SFProDisplay-Black.ttf") format("truetype");
}


// Roboto
@font-face {
    font-family: "Roboto-Thin";
    src: url("fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Black";
    src: url("fonts/Roboto/Roboto-Black.ttf") format("truetype");
}

