@mixin square($size) {
    height: $size;
    width: $size;
}

@mixin font-style($size, $family) {
    font-family: $family;
    font-size: $size;
}

@mixin setSocialNetworksIcon($icon) {
    &[data-type=#{$icon}] {
        &:before {
            @include square(21px);

            content: "";
            display: block;
            float: left;
            background-image: url("../img/about/#{$icon}.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 21px 21px;
            margin-right: 10px;
        }
    }
}