@import "utils";

body, h1, h2, p, ul, li, label {
    margin: 0;
    padding: 0;
}

h1 {
    @include font-style(700, 40px, "SF UI Display");

    color: #ffffff;
    line-height: 50px;
}

h2 {
    @include font-style(500, 42px, "SF UI Display");

    color: #222328;
    line-height: 45px;
}

.button {
    @include font-style(500, 18px, "SF UI Display");

    line-height: 24px;
    text-align: center;
    padding: 15px 30px;
    display: block;
    border-radius: 29px;
    border: 2px solid #ffffff;
    transition: 0.25s;

    &:focus {
        outline: none;
    }

    &-blue {
        color: #ffffff;
        background-color: #2290ff;
        border-color: #2290ff;

        &:hover {
            color: #ffffff;
            box-shadow: 0 4px 16px 0 rgba(255, 255, 255, 0.25);
        }

        &:active {
            background-color: #226ad7;
            border-color: #226ad7;
        }
    }

    &-white {
        color: #2290ff;
        background-color: #ffffff;
        border-color: #2290ff;

        &:hover {
            color: #2290ff;
            box-shadow: 0 4px 16px 0 rgba(34, 144, 255, 0.5);
        }

        &:active {
            border-color: #226ad7;
        }
    }
}

.wrap {
    display: flex;
    height: 100vh;
}

.main-menu {
    width: 240px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    &-logo {
        display: flex;
        margin: 50px auto 0 auto;
    }

    .navbar {
        display: flex;
        margin: auto;
        width: 100%;
        padding: 0;

        .navigate {

            &-item {
                width: 100%;


                .nav-link {
                    @include font-style(400, 15px, "Roboto");

                    color: #919191;
                    border-left: 6px solid #ffffff;
                    display: block;
                    padding-left: 60px;
                    margin: 8px 0;
                    transition: 0.25s;

                    &:hover {
                        color: #2290FF;
                    }

                    &.active {
                        @include font-style(700, 15px, "Roboto");

                        border-left-color: #2290FF;
                        color: #2290FF;
                    }
                }
            }
        }
    }
}

.sections {
    width: calc(100% - 240px);
    height: 100%;
    overflow-y: auto;
}

.main-section {
    position: relative;

    &-content {
        @include square(100%);

        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        > div > div {
            display: flex;
            flex-direction: column;
        }

        .main-description {
            width: 600px;
            margin: auto;

            .pre-title {
                @include font-style(300, 16px, "SF UI Display");

                color: #ffffff;
                line-height: 24px;
            }

            .title {
                margin: 10px 0 15px;
            }

            .description {
                @include font-style(300, 15px, "SF UI Display");

                color: #ffffff;
                line-height: 24px;
            }

            .button {
                width: 200px;
                margin-top: 40px;
            }
        }

        .main-image {
            margin: auto;

            > div {
                width: 100%;

                > img {
                    width: 100%;
                }
            }
        }
    }

    &-background {
        width: 100%;

        .background {
            width: 100%;
            z-index: 0;
        }
    }
}

.amenities-section {
    margin: 80px auto;

    &-tabs {
        border: none;
        justify-content: center;
    }

    &-containers {
        width: 100%;
        margin-top: 50px;

        > div {
            margin: 0;
            width: 100%;
            max-width: 100%;
        }
    }

    .nav-link {
        @include font-style(500, 18px, "SF UI Display");

        color: #4F5362;
        background-color: #ffffff;
        line-height: 18px;
        border-radius: 29px;
        text-align: center;
        padding: 20px 35px;
        min-width: 160px;
        display: block;
        border: none;
        transition: 0.25s;
        margin: 0 10px;

        &:hover {
            color: #2290ff;
        }

        &.active {
            color: #ffffff;
            background-color: #2290ff;
        }
    }

    .amenities-info {
        width: 100%;
        display: grid;
        grid-template-columns: auto 400px;

        &-image {
            max-height: 600px;
            max-width: 100%;
            display: flex;

            img {
                margin-left: auto;
                display: flex;
                max-height: 600px;
                max-width: 100%;
            }
        }

        &-content {
            margin-left: 50px;

            .list {
                list-style-type: circle;

                li {
                    @include font-style(300, 21px, "SF UI Display");

                    color: #222328;
                    line-height: 21px;
                    margin: 0 0 20px;
                }
            }
        }
    }
}

.about-section {
    margin: 100px auto;

    .about-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 1200px;
        margin: auto;
        padding-top: 80px;
        background-image: url("../img/about/map.svg");
        background-repeat: no-repeat;

        > div {
            max-width: 500px;
        }

        .about-container {
            .description {
                @include font-style(300, 18px, "SF UI Display");

                color: #4F5362;
                line-height: 31px;
                margin: 30px 0 38px;
            }
        }

        .about-form {
            max-width: 500px;

            .line {
                display: flex;
                margin-bottom: 15px;
            }

            .field {
                width: calc(100% / 2 - 10px);

                label {
                    @include font-style(500, 12px, "Roboto");

                    color: #A8ACB9;
                    line-height: 12px;
                    width: 100%;
                    margin-left: 15px;
                }

                input {
                    @include font-style(300, 16px, "SF UI Display");

                    color: #2290FF;
                    line-height: 21px;
                    background-color: #F9FBFF;
                    border-radius: 29px;
                    height: 58px;
                    width: 100%;
                    border: none;
                    padding: 10px 25px;

                    &:focus {
                        outline: none;
                    }
                }

                &:first-child {
                    margin: 0 auto 0 0;
                }

                &:last-child {
                    margin: 0 0 0 auto;
                }
            }

            textarea {
                @include font-style(300, 16px, "SF UI Display");

                color: #2290FF;
                line-height: 21px;
                background-color: #F9FBFF;
                border-radius: 10px;
                resize: none;
                width: 100%;
                height: 72px;
                border: none;
                padding: 10px 25px;
                margin-bottom: 30px;

                &:focus {
                    outline: none;
                }
            }

            .button {
                min-width: 230px;
            }
        }
    }

    .about-contacts {
        width: 1200px;
        display: flex;
        justify-content: center;
        margin: 150px auto 0 auto;

        &__item {
            @include font-style(300, 18px, "SF UI Display");

            color: #4F5362;
            line-height: 21px;
            margin: 0 30px;

            @include setSocialNetworksIcon("phone");
            @include setSocialNetworksIcon("whatsapp");
            @include setSocialNetworksIcon("mail");
            @include setSocialNetworksIcon("dribbble");
        }
    }
}

.footer-section {
    > div {
        width: 780px;
        height: 220px;
        margin: 200px auto 100px;
    }

    &__logo {
        width: 150px;
        height: 40px;
        margin: 0 auto;
    }

    &__description {
        @include font-style(300, 16px, "SF UI Display");

        color: #818992;
        line-height: 24px;
        text-align: center;
        margin: 30px 0;
    }

    &-list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: auto;

        a {
            @include font-style(400, 14px, "SF UI Display");

            color: #2D3136;
            line-height: 24px;
            display: block;
            margin: 0 20px;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__copyright {
        @include font-style(300, 18px, "SF UI Display");

        color: #2D3136;
        line-height: 24px;
        margin: 30px auto 0;
        width: 300px;

        img {
            @include square(20px);
        }
    }
}

@media (max-width: 1600px) {
    .main-section {
        &-content {
            grid-template-columns: 3fr 2fr;
        }
    }
}

@media (max-width: 1400px) {
    .about-section {
        .about-info {
            grid-template-columns: repeat(1, 1fr);
            width: 600px;

            > div {
                margin: 50px auto;
            }
        }

        .about-contacts {
            width: 100%;
            flex-wrap: wrap;

            > div {
                margin: 0 20px;
            }
        }
    }
}