@import "utils";

body {
    margin: 0;
    padding: 0;
}

h1 {
    @include font-style(900, 78px, "Montserrat");

    color: #ffffff;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2 {
    @include font-style(700, 44px, "Montserrat");

    color: #506a85;
    text-align: center;
    letter-spacing: 0.9px;
}

h3 {
    @include font-style(400, 24px, "Roboto");

    text-align: center;
    color: #73879c;
    line-height: 34px;
    margin-top: 20px;
    letter-spacing: -0.2px;
}

h4 {
    @include font-style(900, 16px, "Montserrat");

    color: #ffffff;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.wrap-container {
    &_root {
        max-width: 1200px;
        width: 100%;
        margin: auto;
    }

    &_header {
        box-shadow: 0.5px 0.866px 0 #e6e9ed;
        background-color: #f5f7f9;
    }

    &_nav-bar {
        box-shadow: 0.5px 0.866px 0 #e6e9ed;
        background-color: #ffffff;
    }

    &_advantages-info {
        box-shadow: 0.5px 0.866px 0 #e6e9ed;
        background-color: #ffffff;
    }

    &_example-work-info {
        background-color: #f2f5f7;
    }

    &_cooperation-info {
        background-color: #ffffff;
    }

    &_site-map {
        background-color: #2f4052;
    }

    &_footer {
        background-color: #283645;
    }
}

.custom-button {
    @include font-style(700, 18px, "Roboto");

    border-radius: 3px;
    background-color: #00bb9b;
    border-bottom: 2px solid #00a085;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;

    &:hover, &:active {
        border-bottom: 2px solid #148e76;
        background-color: #17a78b;
        transition: 0.25s linear;
    }

}

.contact-us-modal {
    background-color: #ffffff75;

    &_wrapper {
        max-width: 970px;
        border-radius: 10px;
        background-color: #ffffff;
        padding: 30px 40px 50px 40px;
        box-shadow: 0 7px 40px rgba(0, 0, 0, 0.5);

        > div {
            border: none;

            > div {
                border: none;
            }
        }
    }

    &__button {
        margin-top: 40px;
        width: 295px;
    }

    .modal-header-block {
        border: none;
        padding-top: 0;
        padding-bottom: 26px;
        position: relative;

        &__close {
            @include square(25px);

            background-image: url("../img/button_close.png");
            background-position: center;
            background-size: 25px;
            background-repeat: no-repeat;
            position: absolute;
            top: 15px;
            right: 10px;
        }
    }

    .modal-input-block {
        textarea, input {
            @include font-style(400, 16px, "Roboto");

            border-radius: 5px;
            border: 1px solid #dddddd !important;
            box-shadow: none;
            background-color: #f8fafd;
            color: #757575;
            padding: 12px 18px;
            line-height: 22px;
            display: block;
        }

        &__name, &__email {
            width: calc((100% - 30px) / 2);
            height: 48px;
            margin-bottom: 24px;
        }

        &__message {
            height: 135px;
            vertical-align: top;
        }
    }
}

.contact-info {
    &__item {
        @include font-style(400, 12px, "Roboto");

        color: #506a85;
        height: 20px;
        margin: 11px 10px 9px 11px;
        cursor: default;
    }

    @include set-image-contacts-header("email");
    @include set-image-contacts-header("phone");
}

.networks {
    margin: 10px 18px;

    &__item {
        @include square(20px);

        margin-right: 4px;
        cursor: pointer;
    }

    @include set-image-networks("facebook");
    @include set-image-networks("google");
    @include set-image-networks("twitter");
    @include set-image-networks("pinterest");
    @include set-image-networks("behance");
    @include set-image-networks("dribble");
}

.sticky-container {
    &__background {
        background-color: #ffffff;
        border-bottom: 1px solid rgb(204, 204, 204);
        z-index: 20 !important;
    }
}

.nav-bar {
    padding: 25px 0;
    background-color: #ffffff;

    &__logotype {
        @include set-image("../img/logo/name-logo-dark.svg");

        height: 50px;
        width: 180px;
        margin: 0 16px;
        display: block;
        background-size: 100%;
    }

    .menu {
        margin: 10px 0 0 73px;

        &__item {
            @include font-style(700, 15px, "Roboto");

            color: #506a85;
            text-transform: uppercase;
            margin-right: 45px;
            cursor: pointer;
        }
    }
}

.slider-container {
    height: 800px;

    &_about-us {
        background: url("../img/background/slider/about-us-slide.png") no-repeat;
    }

    &_fresh {
        background: url("../img/background/slider/fresh-slide.png") no-repeat;
    }

    &_clean-code {
        background: url("../img/background/slider/clean-code-slide.png") no-repeat;
    }

    &_creative {
        background: url("../img/background/slider/creative-slide.png") no-repeat;
    }

    &_content-block {
        background: url("../img/background/slider/content-block-slide.png") no-repeat;
    }

    &_root {
        height: 880px;
    }

    .about-us {
        cursor: default;
        height: 350px;
        width: 1000px;
        padding: 240px 0 210px;
        margin: auto;

        &__title {
            @include font-style(900, 73px, "Montserrat");

            letter-spacing: 4.7px;
            margin: 0;
        }

        &__description {
            color: #a3b1bf;
        }

        &__button {
            margin-top: 58px;
            width: 295px;
            height: 65px;
        }
    }

    .fresh {
        height: 350px;
        width: 1180px;
        cursor: default;
        padding: 240px 0 210px;
        margin: auto;

        &__title {
            @include font-style(900, 73px, "Montserrat");

            letter-spacing: 4.7px;
            max-width: 800px;
            text-align: right;
            line-height: 90px;
        }

        &__description {
            max-width: 800px;
            text-align: right;
            color: #ffffff;
            margin: 0;
        }

        &__button {
            margin-top: 58px;
            width: 295px;
            height: 65px;
            margin-left: 200px;
        }
    }

    .clean-code {
        height: 350px;
        width: 1155px;
        cursor: default;
        padding: 200px 0 210px;
        margin: auto;

        &__title {
            @include font-style(900, 73px, "Montserrat");

            letter-spacing: 4.7px;
            text-align: left;
            line-height: 85px;
            padding: 20px 30px;
            background-color: #506a85;;
        }

        &__description {
            max-width: 700px;
            text-align: left;
            color: #506a85;
            margin: 20px 0 0;
        }

        &__button {
            margin-top: 58px;
            width: 295px;
            height: 65px;
            margin-right: 200px;
        }
    }

    .creative {
        height: 350px;
        width: 1180px;
        cursor: default;
        padding: 85px 0 210px;
        margin: auto;

        &__title {
            @include font-style(900, 73px, "Montserrat");

            letter-spacing: 4.7px;
            text-align: right;
            line-height: 85px;
            padding: 20px 30px;
            background-color: #506a85;
        }

        &__description {
            max-width: 800px;
            text-align: right;
            color: #ffffff;
            margin: 20px 0 0;
        }

        &__button {
            margin-top: 58px;
            width: 295px;
            height: 65px;
            margin-left: 200px;
        }
    }

    .content-block {
        cursor: default;
        height: 350px;
        width: 1000px;
        padding: 78px 0 210px;
        margin: auto;

        &__title {
            @include font-style(900, 73px, "Montserrat");

            letter-spacing: 4.7px;
            margin: 0;
        }

        &__description {
            color: #a3b1bf;
            max-width: 750px;
        }

        &__button {
            margin-top: 58px;
            width: 295px;
            height: 65px;
        }
    }
}

.advantages-info {
    padding: 117px 0 130px;

    &__description {
        margin: 20px 60px 0;
        letter-spacing: -0.2px;
    }

    &_items {
        @include set-image-adventure-item("heart");
        @include set-image-adventure-item("lamp");
        @include set-image-adventure-item("star");
        @include set-image-adventure-item("technology");
        @include set-image-adventure-item("social");
        @include set-image-adventure-item("marketing");

        margin: 65px 15px 0;

        .item {
            &__logo {
                @include square(70px);
            }

            &-characteristic {
                width: calc(100% - 110px);
                margin: 0 10px 0 30px;

                &__title {
                    @include font-style(700, 26px, "Montserrat");

                    color: #506a85;
                }

                &__description {
                    @include font-style(400, 16px, "Roboto");

                    color: #73879c;
                    margin: 20px 0 0;
                }
            }
        }
    }

    &_item {
        margin-bottom: 40px;
    }

    &__button {
        width: 295px;
    }
}

.example-work-info {
    padding: 120px 0 140px;

    .items {
        &_big {
            margin: 75px 0 0;

            &__item {
                border-radius: 5px;
            }

            .item {
                background-color: #ffffff;
                padding: 25px 0;
                border-bottom: 2px solid #e6e9ed;
                margin: 0 15px;

                &__logo {
                    width: calc(100% - 30px);
                    margin-left: 15px;
                }

                &__title {
                    @include font-style(700, 20px, "Montserrat");

                    color: #506a85;
                    text-align: center;
                    letter-spacing: 0.3px;
                }

                &__author {
                    @include font-style(400, 14px, "Roboto");

                    color: #73879c;
                    margin: 6px 0 0;
                    text-align: center;
                }
            }
        }

        &_small {
            margin-top: 80px;

            .items_image {
                @include set-image-works-item("business-card");
                @include set-image-works-item("plate");
                @include set-image-works-item("sticker");
                @include set-image-works-item("signwall");

                > div {
                    background-size: 90%;
                    background-position: center;

                    > div {
                        height: 185px;
                        background-size: calc(100% - 30px);
                        background-position-x: center;
                    }
                }
            }
        }
    }
}

.cooperation-info {
    padding: 115px 130px 130px;

    &__button {
        width: 150px;
        margin-top: 38px;
        padding: 10px;
    }
}

.site-map {
    padding: 70px 15px 75px;

    &_block {
        padding: 0 10px;
    }

    &__description {
        @include font-style(400, 14px, "Roboto");

        color: #a3b1bf;
        line-height: 22px;
    }

    .who-we-are_info {
        &__logo {
            background: url("../img/logo/name-logo-light.svg") no-repeat;
            height: 50px;
            width: 180px;
            background-size: 100%;
        }

        &__description {
            margin-top: 10px;
        }
    }

    .works-info {
        @include set-image-works-item("business-card");
        @include set-image-works-item("plate");
        @include set-image-works-item("sticker");
        @include set-image-works-item("signwall");

        > div {
            height: 85px;
            margin-top: 5px;
            background-size: 95% 85px;
            background-position: center left;
        }
    }

    .get-in-touch-info {
        &__description {
            margin: -6px 0 0;
        }

        .touch_contacts {
            margin-top: 10px;

            @include set-image-touch-item("map");
            @include set-image-touch-item("phone");
            @include set-image-touch-item("email");
        }
    }

    .updates {
        &__description {
            margin: -6px 0;
        }

        .email_form {
            margin-top: 20px;
            height: 42px;
            position: relative;

            &__input {
                background-color: #4e5c6c;
                color: #a3b1bf;
                border: none;
                padding-right: 100px;
            }
        }

        .subscribe-update_button {
            @include font-style(600, 14px, "Roboto");

            position: absolute;
            right: 5px;
            top: 5px;
            width: 88px;
            height: 30px;
            padding: 4px;
        }
    }
}

.footer {
    padding: 30px 15px;

    &__copyright {
        @include font-style(400, 14px, "Roboto");

        color: #707e8c;
        float: left;
    }

    &__map {
        @include font-style(400, 14px, "Roboto");

        float: right;

        &_item {
            color: #707e8c !important;
            margin-left: 10px;
            cursor: pointer;
            display: block;
            text-decoration: none !important;

            &:hover {
                color: #00bc9c !important;
                transition: 0.25s linear;
            }
        }

        .inactive {
            cursor: default !important;
            color: #707e8c !important;
        }
    }
}

.toggler-example {
    padding: 10px 15px;

    &__hamburger {
        background-image: url("../img/background/hamburger_menu.png");
        background-repeat: no-repeat;
        height: 20px;
        width: 24px;
    }
}

@media (max-width: 1500px) {
    .slider-container {
        background-size: 100% !important;
        height: 550px;

        .about-us {
            padding: 190px 0 0;
            width: calc(100% - 300px);

            &__title {
                @include font-style(900, 50px, "Montserrat");

                line-height: 70px;
            }

            &__description {
                font-size: 20px;
            }

            &__button {
                margin-top: 35px;
            }
        }

        .fresh {
            padding: 100px 0 0;
            width: calc(100% - 300px);

            &__title {
                @include font-style(900, 50px, "Montserrat");

                line-height: 70px;
            }

            &__description {
                font-size: 20px;
            }

            &__button {
                margin-top: 35px;
            }
        }

        .clean-code {
            padding: 80px 0 0;
            width: calc(100% - 300px);

            &__title {
                @include font-style(900, 50px, "Montserrat");

                line-height: 60px;
            }

            &__description {
                font-size: 20px;
            }

            &__button {
                margin-top: 35px;
            }
        }

        .creative {
            padding: 70px 0 0;
            width: calc(100% - 300px);

            &__title {
                @include font-style(900, 50px, "Montserrat");

                line-height: 70px;
            }

            &__description {
                font-size: 20px;
            }

            &__button {
                margin-top: 35px;
            }
        }

        .content-block {
            padding: 140px 0 0;
            width: calc(100% - 300px);

            &__title {
                @include font-style(900, 50px, "Montserrat");

                line-height: 70px;
            }

            &__description {
                font-size: 20px;
            }

            &__button {
                margin-top: 35px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .slider-container {
        background-size: 120% !important;
        height: 530px;

        .about-us {
            padding: 120px 0 0;
            width: calc(100% - 250px);
        }

        .clean-code {
            padding: 50px 0 0;
            width: calc(100% - 250px);
        }

        .content-block {
            padding: 120px 0 0;
        }
    }

    .advantages-info {
        padding: 50px 20px;
    }

    .example-work-info {
        padding: 50px 20px;

        .items_big {
            margin: 30px 0 0;

            .item {
                &__logo {
                    &:first-child {
                        margin-left: 15px;
                    }
                }

                &__title {
                    @include font-style(700, 16px, "Montserrat");
                }
            }
        }

        .items_small {
            margin-top: 30px;

            .items_navigation {
                margin-top: 10px;
            }
        }
    }

    .cooperation-info {
        padding: 50px 20px;
    }

    .site-map {
        padding: 30px 20px;
    }
}

@media (max-width: 1024px) {
    .slider-container {
        background-size: 120% !important;
        height: 500px;

        .about-us {
            padding: 120px 0 0;
        }

        .fresh {
            padding: 70px 0 0;
        }

        .creative {
            padding: 45px 0 0;

            &__title {
                @include font-style(900, 40px, "Montserrat");

                line-height: 50px;
            }
        }
    }

    .advantages-info {
        &_item {
            padding: 0 50px 40px;
        }

        &__description {
            margin: 20px;
        }
    }

    .example-work-info {
        .item {

            .items_navigation {
                margin-top: 0;
            }
        }
    }

    .site-map {
        &_block {
            padding: 20px;
        }

        .works-info {
            max-width: 260px;

            > div {
                background-size: 124px 85px;
                width: 130px;
            }
        }
    }
}

@media (max-width: 992px) {
    .slider-container {
        .clean-code {
            &__title {
                @include font-style(900, 40px, "Montserrat");

                line-height: 50px;
            }
        }
    }

    .nav-bar {
        padding: 10px;
        width: 100%;
        border: none;

        .menu {
            margin: 40px 0 0;
        }

        &__logotype, &__search-field {
            display: none;
        }

        &_desktop {
            display: none;
        }
    }
}

@media (max-width: 900px) {
    .slider-container {
        display: none;
    }

    .example-work-info {
        .items_big {
            &__item {
                margin-bottom: 10px;

                .item {
                    &__title {
                        @include font-style(700, 14px !important, "Montserrat");
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .example-work-info {
        .items_image {
            .item_card {
                height: 170px;
                background-size: 90%;
            }
        }
    }

    .site-map {
        &_block {
            padding: 20px;
        }

        .works-info {
            max-width: 210px;

            > div {
                background-size: 100px 75px;
                height: 75px;
                width: 105px;
            }
        }
    }

    .footer {
        &__copyright {
            float: left;
            width: 100%;
        }

        &__map {
            margin: 10px 0 0 -10px;
            float: left;
            width: 100%;
        }
    }
}

@media (max-width: 640px) {
    .example-work-info {
        .item {
            &__logo {
                height: 300px !important;
            }
        }
    }
}
