%base {
    width: 100%;
    color: #2290FF;
    line-height: 21px;
    background-color: #F9FBFF;
    border: none;
    padding: 10px 25px;

    &:focus {
        outline: none;
    }
}

.form {
    &__line {
        display: flex;
        margin-bottom: 15px;
    }

    &__field {
        margin: 5px;

        &:first-child {
            margin: 0 10px 0 0;
        }

        &:last-child {
            margin: 0 0 0 10px;
        }
    }

    &__label {
        color: #A8ACB9;
        line-height: 12px;
        width: 100%;
        margin-left: 15px;
    }

    &__input {
        @extend %base;

        border-radius: 30px;
        height: 58px;
    }

    &__textarea {
        @extend %base;

        border-radius: 10px;
        resize: none;
        height: 72px;
        border: none;
    }
}