// reset default styles
@import '_reset';

@import '_colors';

// include utils
@import 'utils';

// include global styles
@import 'form';

body {
    line-height: 1.5;
    position: relative;
    width: 100%;
}

a {
    text-decoration: none;
}

nav {
    li, a {
        width: 100%;
    }

    a {
        padding: .5rem 1rem;
    }
}

.section {
    margin: 0 auto 100px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;
}

@media (max-width: 1550px) {
    .section {
        margin: 0 30px 100px;

        &:first-child {
            margin: 0 auto 100px;
        }
    }
}
