@mixin set-size($width: null, $height: null) {
    height: $height;
    width: $width;
}

@mixin square($size) {
    @include set-size($size, $size);
}

@mixin set-position($position: null, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin apply-hover-state() {
    cursor: pointer;

    &:hover {
        opacity: 0.65;
    }
}

@mixin crop-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin font-style($size, $family) {
    font-family: $family;
    font-size: $size;
}

@mixin set-image($url, $position: center, $bg-color: null) {
    background-image: url($url);
    background-position: $position;
    background-repeat: no-repeat;
    background-color: $bg-color;
}
